/* Widget Container */
.widget-todolist {
  height: 100%; 
  display: flex;
  flex-direction: row;
  overflow: hidden; 
}

/* Widget Body */
.widget-todolist-body {
  flex-grow: 1; 
  overflow-y: auto;
}

/* Widget Items */
.widget-todolist-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

/* Widget Header */
.widget-todolist-header {
  flex-shrink: 0;
}

/* Adjust Font Sizes */
.widget-todolist-header-title {
  font-size: 14px;
}

.widget-todolist-content input.form-control {
  font-size: 12px;
  padding: 6px;
}
