.gridster {
    margin-left: 0%; 
    padding: 10px;
    box-sizing: border-box;
    width: 85%; 
    height: 100%; 

    gridster-item {
        background-color: var(--page-light-mode-bg);
        height: 100%;
        width: 100%;
        border-radius: 7px;
      }
  }

  .gridster.fit{
    background-color: var(--page-light-mode-bg);
    width: 100%;
    height: 100%;
  }
  
  
  