.gridster {
  margin-left: 15%; /* Adjust this value based on your sidebar width */
  padding: 10px;
  box-sizing: border-box;
  width: 85%; 
  height: 100%; 
}

gridster-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
}
