div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 93%;
  width: 85%;
  position: absolute;
  bottom: 0px ;
  right: 0px ;
  overflow-x: hidden; 
  overflow-y: auto;
}

.page-title {
  background-color: #dee2e6;
  height: 10%;
  width: 100%;
  text-align: left;
}

.page-content {
  width: 100%;
  text-align: center;
  height: 100%;
}
