/* Center the entire content vertically and horizontally */
div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Move content to the right */
  height: 90%; /* Ensure it takes the full viewport height */
  width: 90%;
  /* padding: 20px; Optional: Add some padding */
  position: absolute;
  bottom: 0px ;
  right: 0px ;
}

/* Additional styles to move title to the right */
h1 {
  text-align: right;
}
