.widget-list {
  background-color: lightgray;
  border-radius: 5px;
  border: 20px solid #333;
  box-shadow: 0 2px 8px black;
  padding: 1rem;
  max-height: 100%; 
  overflow-y: auto;  /* Enable vertical scrolling */
}

.widget-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 0.5rem;
}

.widget-list-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.widget-list-media img {
  border-radius: 50%;
  margin-right: 1rem;
}

.widget-list-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.widget-list-desc {
  color: #888;
}

.widget-list-action a {
  color: #333;
  text-decoration: none;
}
