.widget-list {
  background-color: white;
  overflow-y: auto;  
  padding: 10px;
  border-radius: 7px;
  height: 100%;
}

.widget-list-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e9ecef;
}

.widget-list-item:last-child {
  border-bottom: none;
}

.widget-list-media img {
  border-radius: 7px;
  margin-right: 1rem;
}

.widget-list-content {
  flex-grow: 1;
  padding-left: 15px;
}

.widget-list-title {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.widget-list-desc {
  margin: 0;
  font-size: 14px;
  color: #999;
}

.widget-list-action {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.widget-list-action a {
  color: #6c757d;
  text-decoration: none;
  font-size: 14px;
}

.widget-list-action a:hover {
  color: #343a40;
}
