<!-- Add & Delete Buttons -->
<div fxLayout="row" fxLayoutAlign="start end">
  <button color="primary" (click)="addUser()">Add User</button>
  <button color="warn" (click)="deleteSelectedUsers()">Delete Users</button>
</div>
<!-- Table -->
<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Select Column -->
    <ng-container matColumnDef="Select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleSelectAll($event)"
          [checked]="isAllSelected()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.selected"></mat-checkbox>
      </td>
    </ng-container>
    <!-- other columns -->
    <ng-container
      *ngFor="let col of displayedColumns.slice(1, displayedColumns.length - 1)"
      matColumnDef="{{ col }}"
      [sticky]="col === 'Select' || col === 'ID'"
    >
      <th mat-header-cell *matHeaderCellDef id="{{ col }}" mat-sort-header>
        {{ col }}
        <button class="button" (click)="toggleFilter(col)">
          <i class="fa-solid fa-filter" *ngIf="!filterStates[col]"></i>
          <i class="fa-solid fa-xmark" *ngIf="filterStates[col]"></i>
        </button>
        <input
          type="text"
          hidden
          id="{{ col }}-filter"
          (input)="filterData(col, $event)"
        />
      </th>
      <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editRow(element)">
          <i class="fa-solid fa-edit"></i>
        </button>
        <button mat-icon-button (click)="viewRow(element)">
          <i class="fa-solid fa-eye"></i>
        </button>
        <button mat-icon-button (click)="deleteRow(element)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- Paginator -->
<div fxLayout="row" fxLayoutAlign="start end">
  <mat-paginator
    class="paginator"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
