<app-gregoian-datepicker
  [isArabic]="isArabic"
  [selectedDate]="gregorianDate"
  (dateChange)="onGregorianDateChange($event)"
></app-gregoian-datepicker>

<app-hijri-datepicker
  [isArabic]="isArabic"
  [selectedDate]="hijriDate"
  (hijriDateChange)="onHijriDateChange($event)"
></app-hijri-datepicker>

<button class="button" mat-raised-button (click)="toggleLanguage()">
  Toggle Language
</button>
<button class="button" mat-raised-button (click)="clear()">
  <i class="fa-regular fa-calendar-xmark"></i> Clear
</button>
