/* Sidebar styles */
.sidebar {
  background-color: #2d353c; 
  height: 90%; 
  width: 15%; 
  position: fixed; 
  bottom: 0;
  left: 0;
  overflow-x: hidden; 
  overflow-y: auto; /* Enable vertical scroll */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

/* .sidebar ul li {
  margin-bottom: 10px;
} */

.sidebar ul li a {
  color: rgb(173, 173, 173);
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar ul li a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.205); /* Optional: adds a slight background change on hover */
}